# Ambiente virtual
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pyd
*.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema
Thumbs.db
.DS_Store
